{% extends 'shop/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'shop/css/style-tracker.css' %}"> {% endblock css %}
{% block title %}Order Tracker{% endblock title %}

{% block body %}
<div class="container">
    <h1 class="font-weight-bold my-4">Order Tracker</h1>
    <div class="col my-4">
        <h3 class="my-3 font-weight-bold">Enter details to track your order</h3>
        <form method="post" action="#" id="trackerForm">{% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputname">Order ID</label>
                    <input type="name" class="form-control" id="orderId" name="orderId" placeholder="Order ID">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                </div>
                <button type="submit" class="btn btn-warning">Track Order</button>
            </div>
    </div>
    <div class="col my-4">
        <h3 class="my-3 font-weight-bold">Order Status</h3>
        <div>
            <ul class="list-group" id="items">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Enter your order id and email to find details about your order
                </li>
            </ul>
        </div>
        <h3 class="my-3 font-weight-bold">Order Items</h3>
        <div>
            <ul class="list-group" id="citems">
                <li class="d-flex justify-content-between align-items-center">
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock body %}

{% block js %}
<script type="text/javascript">
    $('#trackerForm').submit(function (event) {
        $('#items').empty();
        var formData = {
            'orderId': $('input[name=orderId]').val(),
            'email': $('input[name=email]').val(),
            'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
        };

        $.ajax({
            type: 'post',
            url: '/shop/tracker/',
            data: formData,
            encode: true
        })

            .done(function (data) {
                $('#citems').empty();
                data = JSON.parse(data)
                if (data['status'] == 'success') {
                    updates = data['updates'];
                    for (i = 0; i < updates.length; i++) {
                        let text = updates[i]['text'];
                        let time = updates[i]['time'];
                        mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">
                              ${text}
                              <span class="badge badge-warning badge-pill">${time}</span>
                         </li>`
                        $('#items').append(mystr);
                    }

                    // Fill in the order details
                    cart = JSON.parse(data['itemsJson']);
                    for (item in cart) {
                        let name = cart[item][1];
                        let qty = cart[item][0];
                        mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">
                    ${name}
                    <span class="badge badge-warning badge-pill">${qty}</span>
               </li>`
                        $('#citems').append(mystr);
                    }

                } else {
                    mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">
                              Sorry, no order found associated with this email and order id. Make sure you typed both things correctly! If you are still unable to track your order you can contact us for further help! <h4><a href="/shop/contact" class="badge badge-warning">Contact Us</a></h4>
                         </li>`
                    $('#items').append(mystr);
                    $('#citems').append(mystr);
                }



            });
        event.preventDefault();
    });
</script>
{% endblock js %}